*~
/auto-save-list/

/eshell/
/elpa/
/straight/
/projects
/transient/
/var/
/projectile-bookmarks.eld
/places
/.lsp-session*
/network-security.data
/org-roam.db
/org-clock-save.el
/url/
fly_check*.el
/bookmarks
/projectile.cache
/custom.el
/forge-database.sqlite
/session.*
/eww-bookmarks
/eln-cache/
/tramp
/history
/modules/secret.el
