/auto-save-list/
/backup/
/bookmarks
/custom.el
/eln-cache/
/elpa/
/forge-database.sqlite
/games/
/history
/mastodon.plstore
/multisession/
/network-security.data
/org-clock-save.el
/persist/
/places
/projects
/recentf
/transient/
/tree-sitter/
/tutorial/
/url/
/modules/email.el
eshell/history
/eshell/lastdir
/modules/floatpays.el
/snippets/org-mode/oneone
/fontaine-latest-state.eld
/.cache/
