*~
/auto-save-list/

/eshell/
/elpa/
/straight/
/projects
/transient/
/var/
/places
/.lsp-session*
/network-security.data
/org-roam.db
/org-clock-save.el
/url/
fly_check*.el
/bookmarks
/projectile.cache
/custom.el
/forge-database.sqlite
/session.*
/eww-bookmarks
/eln-cache/
/tramp
/history
/modules/secret.el
/lsp-tmp-*/
/recentf
/.cache/
/.org-id-locations
/.extension
/.dap-breakpoints
/modules/email.el
/multisession/
/modules/git-tools.el
/modules/local.el
/fontaine-latest-state.eld
